[user]
	name = u1aryz
	email = u1aryz.d@gmail.com
[color]
	ui = auto
[alias]
	graph = log --graph --all --color --pretty='%x09%C(yellow)%h%Creset %C(green)%cn%Creset %s %C(auto)%d%Creset'
[core]
	quotepath = false
	editor = code --wait --new-window
[diff]
	algorithm = histogram
[rebase]
	autosquash = true
[merge]
	ff = false
[pull]
	ff = only
[ghq]
	root = ~/go
	root = ~/ghq
[fetch]
	prune = true
[init]
	defaultBranch = main
